*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* background image */
body {
    background-image: url("img/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    margin: auto;
    max-width: fit-content;
    padding: 5px;    
    color: white;
    text-align: center;
    text-shadow: 0px 3px 4px rgb(65, 64, 64);
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
    display: wrap;
}

/* main text */
h2 {
    margin-top: 50px;
    margin: auto;
    max-width: fit-content;
    padding: 10px;
    color: rgb(38, 105, 46);
    font-weight: bold;
    font-size: 30px;
    font-family: "arial rounded mt bold", cursive;
    text-shadow: 0px 0px 10px white
}

p {
    margin: auto;
    max-width: 600px;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: black;
    font-family: "arial rounded mt bold", sans-serif;
}


/* navigation bar */
.navbar{

    position: sticky;
    align-items: center;
    top: 0;
    left: 0;
    height: 60px;
    background-color: rgb(226, 142, 192);
    z-index: 1;

}



.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}




/* Main text box */
.text-box {
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    max-width: fit-content;
    background-color: rgba(255, 182, 193, .55);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(64, 64, 64);

}

.text-box p {
    color: rgb(0, 104, 16);
    font-size: 23px;
    text-decoration: none;

    font-family: "arial rounded mt bold", sans-serif;
}
/* Table */


table {
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: fit-content;
    padding: 10px;
    background-color: rgba(255, 182, 193, .55);
    border-radius: 10px;
    border: solid 5px rgba(62, 232, 62, 0.5);
    box-shadow: 0 0 10px rgb(64, 64, 64);
    font-family: "arial rounded mt bold", sans-serif;

}
th {
    font-size: 20px;
    color: rgb(0, 104, 16);
    
    
}
td {
    padding: 5px;
    font-size: 20px;
    border-right: solid 5px rgba(62, 232, 62, 0.5);
    color: rgb(0, 104, 16)


}

#crossout {
    text-decoration: line-through;
}
/* footer */
#footer {
    margin-left: auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 0px;
    opacity: 0.8;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 182, 193, .55);
    box-shadow: 0 0 10px rgb(64, 64, 64);
    bottom: 0;
    left: 0;
    width: 100%;
}

#footer-text {
    color: black;
    font-size: 20px;
    text-decoration: none;
}


/* Song Images */

.song-list {
    margin-left: auto;
    margin-right:auto;
    max-width: 100%;
    padding: 10px;
    left: 50%;
    text-align: center;
    
}
.song-list ol {
    list-style: none;
}

.song-list a {
    text-decoration: none;
    color: rgb(0, 104, 16);
    text-shadow: none;
    padding: 10px;
    font-size: 20px;
}
/* customized song links */
#song-link {
    text-decoration: none;

}

#song-link:hover {
    background-color: rgb(187, 147, 177);
    color: white;
    border-radius: 55px;
    opacity: .5;

}
#song-link:active {
    background-color: rgb(141, 100, 133);
    color: white;
    border-radius: 55px;
    opacity: .9;
}



/* form */ 
input {
    margin: 10px;
    max-width: fit-content;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    opacity: .9;
}

input[type="text"]{
    margin: auto;
    max-width: fit-content;
    color: black;
    
}

textarea {
    margin: 50px;
    width: 80%;
    max-height: 200px;
    color: black;
    resize: none;
    border-radius: 10px;
    
}

input[type="submit"]{
    margin: auto;
    color: white;
    font-size: 20px;;
    background-color: rgb(226, 142, 192);
    opacity: 1;
}

/* customize lists */
ul {
    list-style: none;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

li {
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/* customize links */

a {
    text-decoration: none;
    color: white;
    text-shadow: 0px 3px 4px rgb(65, 64, 64);
    padding: 10px;
    font-size: 20px;
}
a:hover {
    background-color: rgb(196, 122, 166);
    color: white;
    text-shadow: 0px 3px 4px rgb(65, 64, 64);
    border-radius: 5px;
}
a:active {
    background-color: rgb(146, 93, 124);
    color: white;
    text-shadow: 0px 3px 4px rgb(65, 64, 64);
    border-radius: 5px;
}
a:visited {
    color: white;
    text-shadow: 0px 3px 4px rgb(65, 64, 64);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
